doctype html
html(lang="ru")
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		title &Acy;&kcy;&tcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &kcy;&ucy;&rcy;&scy; &gcy;&rcy;&icy;&vcy;&ncy;&ycy;, &ocy;&bcy;&mcy;&iecy;&ncy; &vcy;&acy;&lcy;&yucy;&tcy; &Dcy;&ncy;&iecy;&pcy;&rcy; | &Bcy;&ucy;&dcy;&softcy; &vcy;&scy;&iecy;&gcy;&dcy;&acy; &vcy; &kcy;&ucy;&rcy;&scy;&iecy;
		meta(name='description' content='Круглосуточный обмен валют в Днепре. Актуальный курс гривны к доллару, евро, рублю')
		link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
		link(rel='manifest' href='/site.webmanifest')
		// <link rel="stylesheet" type="text/css" href="main.css">
		// <meta name="google-site-verification" content="JIzAqvrCjJ5DkFa169TSX7aMCyeIbhn4ndWmbCiUSg8" />
		// <meta property="og:image" content="path/to/image.jpg">
		style.
			*{padding:0;margin:0;box-sizing:border-box;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"}body{background-color:#f4f5f7}.Main{padding-left:.75rem;padding-right:.75rem}.Section__meta{padding-top:1.5rem;margin-bottom:2rem}.Section__title{font-size:1.2rem;font-weight:600;text-align:center;margin-bottom:.5rem;color:#333848}.Sections__current-date{font-size:.875rem;text-align:center;color:#4c4c4c}.Cards-list{display:flex;flex-wrap:wrap}.Card-list__item{width:100%;margin-bottom:1.5rem}.Card{background-color:#fafafa;border-radius:.625rem;position:relative;padding-top:60%;-moz-box-shadow:0 2px 5px 2px #dedede;box-shadow:0 2px 5px 2px #dedede}.Card__content{position:absolute;padding:1.5rem;top:0;left:0;width:100%;height:100%;display:flex;flex-direction:column;justify-content:space-between}.Card__meta{display:flex}.Card__flag{border-radius:.4rem;margin-right:.9rem;width:4.5rem;height:2.625rem;background-position:center;background-repeat:no-repeat;background-size:cover;-moz-box-shadow:0 2px 5px 2px #dedede;box-shadow:0 2px 5px 2px #dedede}.Card__flag_usa{background-image:url(usa.png)}.Card__flag_eur{background-color:#003299;background-image:url(euro.png)}.Card__flag_rus{background-image:url(russian.png)}.Card__type-currency{font-size:1.1rem;font-weight:600;color:#333848}.Card__description-currency{color:#525252;font-size:1rem;font-weight:400}.Card__exchange{display:flex;justify-content:space-between}.Card__exchange-rate{font-size:1.625rem;font-weight:600;color:#333848;margin-bottom:.5rem}.Card__exchange-description{color:#545454;text-transform:uppercase;font-size:.9rem;letter-spacing:.02rem}.Main__contacts-section{padding-top:2rem}.btc{padding-bottom:.7rem}.Contact-card-item{background-color:#fafafa;border-radius:.625rem;margin-bottom:4rem;overflow:hidden;-moz-box-shadow:0 2px 5px 2px #dedede;box-shadow:0 2px 5px 2px #dedede}.Contact-card-item__divider{border-top:dashed .0625rem #ccc;margin-bottom:1.3rem}.Contact-card-item__data{padding:1.5rem;padding-bottom:1rem}.Contact-card-item__data p{font-size:.9rem;color:#333848;margin-bottom:.7rem}.Contact-card-item__data a{color:#095580}.Contact-card-item__phones{display:flex;justify-content:space-between}.Contact-card-item__phones-list{list-style:none}.Contact-card-item__map{width:100%;position:relative;padding-top:80%;background-image:url(map_mobile.jpg);background-size:cover;background-position:center;background-repeat:no-repeat;border-radius:.625rem}.Contact-card-item__map a{display:block;position:absolute;left:0;top:0;width:100%;height:100%;font-size:0}@media screen and (min-width:414px){.Card__content{padding:1.8rem}.Card__exchange-rate{font-size:1.9rem}.Card__exchange-description{font-size:1rem}.Contact-card-item__data p{font-size:1.1rem;color:#333848;margin-bottom:1rem}}@media screen and (min-width:568px){.Card-list__item{width:48%}.Card__content{padding:1rem}.Card__exchange-rate{font-size:1.2rem}.Card__exchange-description{font-size:.8rem}.Cards-list{justify-content:space-between}.Contact-card-item{display:flex}.Contact-card-item__map{flex:1;padding-top:50%}}@media screen and (min-width:700px){.Card__content{padding:1.4rem}.Card__exchange-rate{font-size:1.5rem}.Card__exchange-rate{font-size:1.55rem}.Card__exchange-description{font-size:.9rem}}@media screen and (min-width:1024px){.Section__meta{padding-top:4rem}.Section__title{font-size:1.4rem}.Sections__current-date{font-size:1rem}.Main__cards-section{width:64rem;margin:0 auto}.Card-list__item{width:32%}.Card__content{padding:1.3rem}.Card__exchange-rate{font-size:1.5rem}.Card__exchange-description{font-size:.8rem}.Contact-card-item__data{margin-right:1.5rem}.Contact-card-wrapper{width:1024px;margin:0 auto}.Contact-card-item__map{background-image:url(map_desktop.jpg)}}
	main.Main
		section.Main__cards-section.Section
			.Section__meta
				h1.Section__title A&kcy;&tcy;&ucy;&acy;&lcy;&softcy;&ncy;&ycy;&jcy; &kcy;&ucy;&rcy;&scy;
				p.Sections__current-date(aria-label='Дата') 08.02.2020
			.Cards-list
				each val, index in currency
					.Card-list__item
						.Card
							.Card__content
								.Card__meta
									if val.name == "USD"
										.Card__flag.Card__flag_usa
										.Card__currency-meta
											p.Card__type-currency(aria-label='Сумма') 1.00 USD
											p.Card__description-currency(aria-label='Тип Валюты') Доллар США
									if val.name == "EUR"
										.Card__flag.Card__flag_eur
										.Card__currency-meta
											p.Card__type-currency(aria-label='Сумма') 1.00 UER
											p.Card__description-currency(aria-label='Тип Валюты') Евро
									if val.name == "RUB"
										.Card__flag.Card__flag_rus
										.Card__currency-meta
											p.Card__type-currency(aria-label='Сумма') 10.00 RUB
											p.Card__description-currency(aria-label='Тип Валюты') Российский рубль
								.Card__exchange
									.Card__exchange-item.Card__exchange_buy
										p.Card__exchange-rate(aria-label='Сумма в гривне')!=val.courseBuy
										p.Card__exchange-description(aria-label='Тип операции') Покупка
									.Card__exchange-item.Card__exchange_sale
										p.Card__exchange-rate(aria-label='Сумма в гривне')!=val.courseSail
										p.Card__exchange-description(aria-label='Тип операции') Продажа
		section.Main__contacts-section
			.Section__meta
				h2.Section__title &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
			// card list
			.Contact-card-wrapper
				.Contact-card-item
					.Contact-card-item__data(itemprop='address' itemscope='' itemtype='http://schema.org/PostalAddress')
						p(aria-label='Адрес')
							| &Ucy;&kcy;&rcy;&acy;&icy;&ncy;&acy;,
							span(itemprop='addressLocality')
							| &gcy;.&Dcy;&ncy;&iecy;&pcy;&rcy;
							span(itemprop='streetAddress') &ucy;&lcy;.&Ucy;&scy;&pcy;&iecy;&ncy;&scy;&kcy;&acy;&yacy; 7
						p
							a(href='https://t.me/Vkurse_dp_ua') Telegram &kcy;&acy;&ncy;&acy;&lcy;
						p.btc BTC / USD
						.Contact-card-item__divider
						.Contact-card-item__phones
							ul.Contact-card-item__phones-list
								li
									p(aria-label='Номер мобильного' itemprop='telephone') 067 989 22 95
								li
									p(aria-label='Номер мобильного' itemprop='telephone') 067 989 22 95
							ul.Contact-card-item__phones-list
								li
									p(aria-label='Номер мобильного' itemprop='telephone') 067 989 22 95
								li
									p(aria-label='Номер мобильного' itemprop='telephone') 067 989 22 95
					// map
					.Contact-card-item__map
						a(aria-label='Карта' href='https://goo.gl/maps/afByqeo1kTQWHwVm6' title='открыть google maps' alt='открыть google maps') &pcy;&rcy;&ocy;&lcy;&ocy;&zhcy;&icy;&tcy;&softcy; &mcy;&acy;&rcy;&shcy;&rcy;&ucy;&tcy;